.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.burger-btn {
  padding: 0px;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-link {
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link::after,
  .contacts-link::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;

    width: 100%;
    height: 4px;

    background-color: #404bbf;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover::after,
  .nav-link:focus::after,
  .nav-link.current::after,
  .contacts-link:hover::after,
  .contacts-link:focus::after {
    opacity: 1;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* Mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.header-nav-mobile {
  margin-bottom: auto;
}

/* Button close for mobile */

.mobile-menu-close {
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  color: #2e2f42;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  stroke-width: 1px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.mobile-close-icons:hover,
.mobile-close-icons:focus {
  fill: #ffffff;
}

.mobile-close-icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Mobile container item */

.nav-link-mobile {
  position: relative;
  display: block;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-mobile:hover::after,
.nav-link-mobile:focus::after,
.nav-link-mobile.current::after,
.contacts-link-mobile:hover::after,
.contacts-link-mobile.current::after,
.contacts-link-mobile:focus::after {
  opacity: 1;
}

.nav-link-mobile:hover,
.nav-link-mobile:focus,
.contacts-link-mobile:hover,
.contacts-link-mobile:focus,
.contacts-link-mobile.current,
.nav-link-mobile.current {
  color: #404bbf;
}

.contacts-list-mobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 48px;
}

.contacts-link-mobile {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icons-item {
  display: flex;
  gap: 40px;
}

.mobile-media {
  border-radius: 50%;
  background-color: #4d5ae5;
  display: block;
  width: 40px;
  height: 40px;
  padding: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-media:hover,
.mobile-media:focus,
.mobile-icons:hover,
.mobile-icons:focus {
  background-color: #31d0aa;
}

.social-icons {
  gap: 24px;
  fill: #f4f4fd;
}

/* Main banner  */

.main-banner {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-image.mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  max-width: 100%;
}

.banner-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.main-logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
}

.main-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.main-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .main-banner {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-tablet.jpg);
  }

  .main-logo {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .main-banner {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  .main-logo {
    max-width: 496px;
  }
}

/* Feature */

.feature {
  padding-top: 96px;
  padding-bottom: 96px;
}

.feature-item {
  max-width: 100%;
}

.feature-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}

.feature-contents {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (max-width: 1157px) {
  .feature-icons {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .feature-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .feature-item {
    width: calc((100% - 24px) / 2);
  }

  .feature-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .feature {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .feature-title {
    text-align: start;
  }

  .feature-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .feature-icons {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .feature-item .feature-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .feature-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    width: calc((100% - 72px) / 4);
  }
}

/* Our Team */

.team {
  padding-top: 96px;
}

.team-logo {
  margin-bottom: 72px;
}

.team-box {
  padding: 32px 0%;
}

.team-logo,
.portfolio-logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  flex-wrap: wrap;
  align-items: center;
}

.team-list {
  align-items: center;
  background: #f4f4fd;
}

.team {
  background-color: #f4f4fd;
}

.team-card:hover,
.team-card:focus,
.social-icons:hover,
.social-icons:focus {
  background-color: #404bbf;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  background-color: #ffffff;
  padding-bottom: 8px;
}

.team-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  background-color: #fff;
}

.team-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 428px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  margin-bottom: 72px;
}

.team-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-icons {
  gap: 24px;
  fill: #f4f4fd;
}

.team-card {
  border-radius: 50%;
  background-color: #4d5ae5;
  display: block;
  width: 40px;
  height: 40px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 36px;
    row-gap: 64px;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;
  }

  .team-item {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    display: flex;
    gap: 24px;
    margin-bottom: 96px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0px;
  }
}

/* Portfolio */

.portfolio {
  padding: 96px 0;
}

.ovrlay {
  position: relative;
  overflow: hidden;
}

.ovrlay-text {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition-duration: 1s;
}

.ovrlay-text {
  color: #f4f4fd;

  font-size: 16px;
  padding: 40px 32px;

  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .ovrlay-text {
  transform: translateY(0%);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-top: 72px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .ul-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
  }

  .item-portfolio {
    width: calc((100% - 48px) / 3);
  }

  .portfolio {
    padding: 120px 0;
  }
}

/* Footer */

.page-footer {
  background-color: #2e2f42;
}

.footer-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.social-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-icons-item {
  display: flex;
  gap: 16px;
}

.footer-media {
  border-radius: 50%;
  background-color: #4d5ae5;
  display: block;
  width: 40px;
  height: 40px;
  padding: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-media:hover,
.footer-media:focus,
.footer-icons:hover,
.footer-icons:focus {
  background-color: #31d0aa;
}

.footer-order {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-order-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;

  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  opacity: 0.3;
}

input::placeholder {
  color: #fff;
  font-size: 12px;
}

.footer-button:hover,
.footer-button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #404bbf;
  cursor: pointer;
}

.footer-button {
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 8px 16px 8px 24px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-order-icons-item {
  width: 24px;
  height: 24px;

  fill: #fff;
  margin-left: 16px;
}

@media screen and (max-width: 767px) {
  .footer-title,
  .footer-social,
  .footer-foorm-order {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-order-input {
    width: 264px;
  }

  .footer-title {
    padding-top: 96px;
    padding-bottom: 72px;
  }
  .footer-social {
    padding-bottom: 72px;
  }
  .footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 96px 108px;
  }
  .footer-title {
    max-width: 264px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .footer-form {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-order-input {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .footer-social {
    display: inline;
    align-items: baseline;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 80px;
  }
  .footer-title {
    height: 112px;
    width: 264px;
    margin-right: 120px;
  }

  .footer-icons-item {
    display: flex;
    gap: 16px;
  }
  .footer-button {
    margin-left: 24px;
  }
  .footer-form {
    display: flex;
  }
}
